@model _98market.DataLayer.Entities.DisCount.discount

@{
    ViewData["Title"] = "افزودن کد تخفیف";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-lg-12 mt-4 p-3">
    <div class="card-box">



        <form asp-action="AddDiscount" method="post" style="margin-top:5%;">
            <div class="form-group">
                <label asp-for="discountcode" for="emailAddress">کد تخفیف</label>
                <input asp-for="discountcode" type="text" parsley-trigger="change" class="form-control" id="emailAddress" data-parsley-id="6">
                <span asp-validation-for="discountcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discountpersent" for="emailAddress">درصد تخفیف</label>
                <input asp-for="Discountpersent" type="text" parsley-trigger="change" class="form-control" id="emailAddress" data-parsley-id="6">
                <span asp-validation-for="Discountpersent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Useablecount" for="emailAddress">تعداد استفاده</label>
                <input asp-for="Useablecount" type="text" parsley-trigger="change" class="form-control" id="emailAddress" data-parsley-id="6">
                <span asp-validation-for="Useablecount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate">تاریخ شروع</label>
                <input name="startDate" type="text" parsley-trigger="change" placeholder="تاریخ شروع" class="form-control my-datepicker" data-parsley-id="6">
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate">تاریخ پایان</label>
                <input name="endDate" type="text" parsley-trigger="change" placeholder="تاریخ پایان" class="form-control my-datepicker" data-parsley-id="6">
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>

            <div class="form-group text-right m-b-0">
                <button class="btn btn-primary waves-effect waves-light" type="submit">
                    ثبت اطلاعات
                </button>
                <a href="/admin/product/discounts" class="btn btn-default waves-effect waves-light m-l-5">
                    لغو
                </a>
            </div>

        </form>
    </div>
</div>


@section Scripts{


    <script type="text/javascript">
        $(function () {
            // حالت پیشفرض
            $('.my-datepicker').datepicker();
        });
    </script>

}