@model productColor
@{
    ViewData["Title"] = "حذف رنگ ";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="col-lg-12 mt-4 p-3">
    <div class="card-box">

        <form asp-action="DeleteColor" method="post" style="padding:70px 20px 0px 20px">
            <input asp-for="colorid" type="hidden" />
            <div class="form-group">
                <label asp-for="colorname" for="userName">عنوان رنگ</label>
                <input readonly="readonly" asp-for="colorname" type="text" parsley-trigger="change" placeholder="عنوان اسلایدر را وارد کنید" class="form-control" id="userName" data-parsley-id="6">
                <span asp-validation-for="colorname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ColorCode" for="userName">کد رنگ </label>
                <input readonly="readonly" asp-for="ColorCode" type="text" parsley-trigger="change" placeholder="آلت اسلایدر را وارد کنید" class="form-control" id="userName" data-parsley-id="6">
            </div>
           

            <div class="form-group text-right m-b-0">
                <button class="btn btn-primary waves-effect waves-light" type="submit">
                    حذف رنگ
                </button>
                <a href="/admin/product/ShowallColor" class="btn btn-default waves-effect waves-light m-l-5">
                    لغو
                </a>
            </div>

        </form>
    </div>
</div>

