@model MainSlider
@{
    ViewData["Title"] = "حذف اسلایدر ";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="col-lg-12 mt-4 p-3">
    <div class="card-box">

        <form asp-action="DeleteSlider" method="post" style="padding:70px 20px 0px 20px">
            <input asp-for="Sliderid" type="hidden" />
            <div class="form-group">
                <label asp-for="SliderTitle" for="userName">عنوان اسلایدر</label>
                <input readonly="readonly" asp-for="SliderTitle" type="text" parsley-trigger="change" placeholder="عنوان اسلایدر را وارد کنید" class="form-control" id="userName" data-parsley-id="6">
                <span asp-validation-for="SliderTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SliderAlt" for="userName">ALT اسلایدر</label>
                <input readonly="readonly" asp-for="SliderAlt" type="text" parsley-trigger="change" placeholder="آلت اسلایدر را وارد کنید" class="form-control" id="userName" data-parsley-id="6">
            </div>
            <div class="form-group">
                <label asp-for="SliderLink" for="userName">لینک اسلایدر</label>
                <input readonly="readonly" asp-for="SliderLink" type="text" parsley-trigger="change" placeholder="لینک اسلایدر را وارد کنید" class="form-control" id="userName" data-parsley-id="6">

            </div>
            <div class="form-group">
                <label asp-for="SliderSort" for="userName">ترتیب اسلایدر</label>
                <input readonly="readonly" asp-for="SliderSort" type="text" parsley-trigger="change" class="form-control" id="userName" data-parsley-id="6">
            </div>
            <div class="form-group">
                <label asp-for="SliderImg" for="userName">تصویر  اسلایدر</label>
                <input readonly="readonly" asp-for="SliderImg" type="hidden">
                <span asp-validation-for="SliderImg" class="text-danger"></span>
                <img width="140"height="130"class="img-thumbnail" src="~/CssSite/ImageSite/slider-main/@Model.SliderImg" />
            </div>

            <div class="form-group text-right m-b-0">
                <button class="btn btn-danger waves-effect waves-light" type="submit">
                    حذف اسلایدر 
                </button>
                <a asp-action="Index" class="btn btn-default waves-effect waves-light m-l-5">
                    لغو
                </a>
            </div>

        </form>
    </div>
</div>

