@model IEnumerable<_98market.DataLayer.Entities.Role.role>
@{
    ViewData["Title"] = "ویرایش نقش ها";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int userId = Convert.ToInt16(ViewBag.UserId);
    List<_98market.DataLayer.Entities.Role.role> roles = ViewBag.Roles as List<_98market.DataLayer.Entities.Role.role>;
}


<div class="col-lg-12">
    <div class="card-box">
        <form asp-action="Role" method="post" style="padding-top:6%;" enctype="multipart/form-data">
            <input type="hidden" name="userId" value="@userId" />

            @foreach (var item in roles)
            {
                <div class="form-group">
                    <div class="checkbox">
                        <input name="roleIds" id="remember-@item.roleid" type="checkbox" @(Model.Contains(item) ? "checked" : "") value="@item.roleid" data-parsley-multiple="remember-@item.roleid" data-parsley-id="13">
                        <label for="remember-@item.roleid">@item.roltitle</label>
                    </div>
                </div>
            }

            <div class="form-group text-right m-b-0">
                <button class="btn btn-primary waves-effect waves-light" type="submit">
                    ثبت اطلاعات
                </button>
                <a href="/admin/user/roles/@userId" class="btn btn-default waves-effect waves-light m-l-5">
                    لغو
                </a>
            </div>

        </form>
    </div>
</div>

